*{
    margin: 0;
    padding: 0;
    background-color: black;
}
#container{
    padding: 2px;
    border-radius: 50px;
    height: 600px;
    width: 450px;
    margin: auto;
    margin-top: 50px;
    background-color: #cacbce;
}
.calculator{
    padding: 20px;
    border-radius: 1em;
    border: none;
    height: 480px;
    width: 350px;
    margin: auto;
    margin-top: 20px;
    background-color: #191b28;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.display-box {
    font-family: 'Orbitron', sans-serif;
    background-color: #dcdbe1;
    border: solid black 0.5px;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 95%;
    font-size: 30px;
    text-align: right;
}

input[type=button] {
    font-family: 'Orbitron', sans-serif;
    background-color: #737274;
    color: white;
    width: 80%;
    border-radius: 70px;
    height: 70%;
    outline: none;
    font-size: 25px;
}
input:active[type=button] {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}

#btn {
    background-color: #ee7708;
}

#btn1{
    background-color: #bdbbbb;
    color: black;
}

#round{
    border-radius: 100%;
    padding: 25px;
    width: 20px;
    margin-left: 190px;
    margin-top: 6px;
    border: 2px solid goldenrod;
    background-color: #dcdbe1;
}

#round1{
border-radius: 20px;
    padding: 5px;
    width: 60px;
    margin-left: 190px;
    margin-top: 20px;
}
